<div class="column">
    <nav class="panel">
        <p class="panel-heading">Cuentas para seguir</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://avatarfiles.alphacoders.com/777/77704.jpg" alt="Avatar">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
						    <strong>David Bowie</strong><br/>
						    <small>@davidbowie</small><br/>
					    </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://pbs.twimg.com/profile_images/3307873424/15b1f6b6006ac3c86e39bbb02766c3df.jpeg" alt="Avatar">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Bruce Springsteen</strong><br/>
                            <small>@springsteen</small><br/>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://pm1.narvii.com/6457/100ac33243d7b7fda397640362a77a41143402ae_128.jpg" alt="Avatar">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Joan Jett</strong><br/>
                            <small>@joanjett</small><br/>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </nav>
</div>